<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-expand sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.prod.website-files.com/623ae64112adcf772da9687e/678a14a9d3a398bc1e9633b3_Persist%20Startupathon%20White.svg" alt="Logo" 
                 class="d-inline-block align-text-top">
            P
        </a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-5 text-white">
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="#">Ongoing Startupathon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Completed Startupathon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"> Startupathon Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">How To Win</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Mentor Network</a>
              </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li> -->
                <form class="d-flex" role="search">
                  <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                  <button class="btn text-white btn-outline-primary" type="submit">Apply For Fellowship</button>
              </form>
            </ul>
          
        </div>
    </div>
</nav>

<!-- main section -->
<section class="background-section ">
    <img src="https://cdn.prod.website-files.com/623ae64112adcf772da9687e/66b7a9b742a15fc71db053f3_pv%20team%20cropped.png"
        alt="">
    
</section>
<div class="overlay text-center">
    <h1 class="font-weight-bold text-white fs-1"> Startupathon</h1>
    <p class="font-weight-bold text-white fs-5">Your Chance to Build, Lead, and Succeed as a Founder</p>
 
</div>


<div class="video-container">
      <!-- <video width="600" controls>
      <source src="https://youtu.be/iUIbWLeRUrE?si=x9pHu6EcAasx5KOp" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iUIbWLeRUrE?si=x9pHu6EcAasx5KOp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    
  </div>
  <br>
  <div class="next text-center ps-2">
    <button class="btn btn-outline-primary text-white me-3">Ongoing Startupathon</button>
    <button class="btn btn-outline-primary text-white me-3">Ongoing Startupathon</button>
    <button class="btn btn-outline-primary text-white me-3">Ongoing Startupathon</button>
    <button class="btn btn-outline-primary text-white me-3">Ongoing Startupathon</button>
  </div>
  <br><br>
<div class="main">
    <div class="row text-center text-white">
        <div class="col-2 ms-4 bordered">
            <i class="bi bi-card-list icon-hover fs-1"></i>
            <h6>Competitive Salary</h6>
            
            
        </div>
        <div class="col-2 ms-5 bordered">
            <i class="bi bi-laptop icon-hover fs-1"></i>
            <h6>≥ $10,000 USD in Company Funding</h6>
            <!-- <div class="para">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed<br> diam lorem
                ipsum amet.</div> -->
         
        </div>
        <div class="col-2 ms-5 bordered">
            <i class="bi bi-trophy icon-hover fs-1"></i>
            <h6>≥ 10% Founder Equity</h6>
           
        </div>
        <div class="col-2 ms-5 bordered">
            <i class="bi bi-archive icon-hover fs-1"></i> 
            <h6>≥ $100,000 USD AWS Credits</h6>
            
        </div>
        <div class="col-2 ms-5 bordered">
            <i class="bi bi-archive icon-hover fs-1"></i> 
            <h6>$1,000 OpenAI Credits</h6>
            
        </div>

    </div>

</div>


<!-- footer -->
<footer class=" text-light py-4">
    <div class="container">
      <div class="row">
        <!-- Logo & Description -->
        <div class="col-md-4">
            <a class="navbar-brand" href="#">
                <img src="https://cdn.prod.website-files.com/623ae64112adcf772da9687e/678a14a9d3a398bc1e9633b3_Persist%20Startupathon%20White.svg" alt="Logo" 
                     class="d-inline-block align-text-top">
                
            </a>
          <p>We partner with entrepreneurs and businesses to help scale and grow their ideas. With a diverse team skilled in every sector, there is no business we cannot help get a leg up.</p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Home</a></li>
            <li><a href="#" class="text-light">Investor Application</a></li>
            <li><a href="#" class="text-light">Job Application</a></li>
            <li><a href="#" class="text-light">Apply To Startup Accelerator</a></li>
            <li><a href="#" class="text-light">Career Accelerator Program</a></li>
            <li><a href="#" class="text-light">Our Team</a></li>
          </ul>
        </div>
  
        <!-- Legal & Social Links -->
        <div class="col-md-4">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Terms of Service</a></li>
            <li><a href="#" class="text-light">Privacy Policy</a></li>
            <li><a href="#" class="text-light">Decentralized Intelligence Agency</a></li>
          </ul>
          
          <!-- Social Media Links -->
          <div class="mt-3">
            <a href="https://instagram.com" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://linkedin.com" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
          </div>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="text-center mt-4">
        <p class="mb-0">All rights reserved © 2025 
            <a href="https://persistventures.com" class="text-light">persistventures.com</a></p>
      </div>
    </div>
  </footer>
  

</body>
</html>

<router-outlet></router-outlet> 

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-ng-if></app-ng-if>-->
 
<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-class></app-ng-class> -->
<!-- <app-observable></app-observable> -->

<!-- <app-ng-class></app-ng-class> -->